<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Registration</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body>



	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle " data-toggle="collapse" data-target="#navbar" arira-expanded="false" aria-contriols="navbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#" th:href="@{/}">Registration and login</a>
	    </div>
	   </div>
	</nav> 
	
	<table class="table table-hover">
    <thead>
        <tr>
            <th> Name </th>
           <th> Last Name </th>
            <th> DOB </th>
            <th> Position </th>
            <th> Email </th>
            <th> Phone </th>
            <th> LinkedIn </th>
            <th> Edit </th>
            <th> Delete </th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="emp : ${allEmps}">
            <td><span th:text="${emp.firstName}"> firstName </span></td>
            <td><span th:text="${emp.lastName}"> lastName </span></td>
            <td><span th:text="${emp.dateOfBirth}"> dateOfBirth </span></td>
            <td><span th:text="${emp.applyingForPosition}"> applyingForPosition </span></td>
            <td><span th:text="${emp.emailId}"> emailId </span></td>
            <td><span th:text="${emp.phone}"> phone </span></td>
            <td><span th:text="${emp.LinkedIn}"> LinkedIn </span></td>
         	<td><a th:href="@{/edit/{id}(id=${emp.id})}">Edit</a></td>
            <td><a th:href="@{/delete/{id}(id=${emp.id})}">Delete</a></td>
        </tr>
    </tbody>
</table>

				<div>
					<span><a href="/" th:href="@{/registration}">Add Admin</a></span>
				</div>
				
</body>
</html>