<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Registration</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
 integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
 crossorigin="anonymous">

</head>
<body>

	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle " data-toggle="collapse" data-target="#navbar" arira-expanded="false" aria-contriols="navbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#" th:href="@{/}">Registration and login</a>
	    </div>
	   </div>
	</nav> 
	
	
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div th:if="${param.success}">
				<div class="alert alert-info">
					Form Submit
				</div>
				</div>
				
				<h1>Register New Admin</h1>
				
				<form th:action="@{/registration}" method="post" th:object="${user}">
				<div class="form-group">
					<label class="control-label" for="firstName">First Name</label>
					<input id="firstName" class="form-control" th:field="*{firstName}" required autofocus="autofocus" />
				</div>
				
				<div class="form-group">
					<label class="control-label" for="lastName">lastName</label>
					<input id="lastName" class="form-control" th:field="*{lastName}" required autofocus="autofocus" />
				</div>
				
				<div class="form-group">
					<label class="control-label" for="emailId">emailId</label>
					<input id="emailId" class="form-control" th:field="*{emailId}" required autofocus="autofocus" />
				</div>
				
				<div class="form-group">
					<label class="control-label" for="phone">phone</label>
					<input id="phone" class="form-control" th:field="*{phone}" required autofocus="autofocus" />
				</div>

				<div class="form-group">
					<label class="control-label" for="password">Password</label>
					<input id="password" class="form-control" th:field="*{password}" required autofocus="autofocus" />
				</div>
				
				
				<div class="form-group">
					<button type="submit" class="btn btn-success">Submit</button>
				</div>
				
				</form>
				
			</div>
		</div>
	</div>


</body>
</html>